<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
	<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css "/>
	
	<link rel="stylesheet" href="styles.css">
	
	<link rel="stylesheet" href="materialize.min.css" />
		
    <link rel="icon" type="image/png" href="blood.png" />

    <title>Blood Bank</title>
  </head>
  
   <body class="tg">
   
  
 <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
        <a class="navbar-brand" href="/"
          ><img src="blood.png" height="30" width="41" alt=""
        /></a>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/"
                ><span class="fa fa-home fa-lg"></span> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"
                ><span class="fa fa-info fa-lg"></span> About</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/bank"
                ><span class="fa fa-users fa-lg"></span> Donor</a
              >
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/contact"
                ><span class="fa fa-address-card fa-lg"></span> Contact</a
              >
            </li>
          </ul>
          <span class="navbar-text">
            <a data-toggle="modal" data-target="#loginModal">
              <span class="fa fa-sign-in"></span>Register
            </a>
          </span>
        </div>
      </div>
    </nav>

		<div class="row section">
			<% if(docs.length == 0){ %>
			<div class="container center">
				<p class="white-text flow-text">Please Add Some Data. <a
						style="text-decoration: underline" class="white-text" href="/"> Home Page </a>.</p>
			</div>
			<%} else { %>
			<% docs.forEach((doc)=>{ %>
			<div class="col-12 col-md-4">
				<div class="card bg-dark darken-1">
					<div class="card-content white-text">
						<span class="card-title flow-text text-primary ">
							<%= doc.name.substr(0,25) %></span>
						<div class="row">
						<div>
							<span class="col-6 ">Blood Group : </span>
							<span class="col-6 text-danger"><%= doc.bloodGroup %></span>
							</div>
							<div>
							<span class="col-6">District : </span>
							<span class="col-6"><%= doc.city.substr(0,18) %></span><br>
							</div>
							<div>
							<div>
							<span class="col-6">Address :</span>
							<span class="col-6 :"><%= doc.address %></span>
							</div>
							<span class="col-3">Created At :</span>
							<br>
							<span class="col-12"><%= doc.createdAt %></span>
							</div>
							
						</div>
					</div>
					<div class="card-action">
						<a href="tel:<%= doc.phone %>" class="btn btn-warning white-text">Call me!</a>
					</div>
				</div>
			</div>
			<% })} %>
		</div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-4 offset-1 col-sm-2">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="./aboutus.html">About</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="./contactus.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-7 col-sm-5">
            <h5>Our Address</h5>
            <address>
              Shri Madhwa Vadiraja Institute Of technology<br />
             Bantakal<br />
             UDUPI<br />
              <i class="fa fa-phone fa-lg"></i>: +91 1234 5678<br />
              <i class="fa fa-fax fa-lg"></i>: +91 8765 4321<br />
              <i class="fa fa-envelope fa-lg"></i>:
              <a href="mailto:ab007shetty@gmail.com">xspark@gmail.com</a>
            </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a
                class="btn btn-social-icon btn-google"
                href="http://google.com/+"
                ><i class="fa fa-google-plus fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-facebook"
                href="http://www.facebook.com/profile.php?id="
                ><i class="fa fa-facebook fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="http://www.linkedin.com/in/"
                ><i class="fa fa-linkedin fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><i class="fa fa-twitter fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-google"
                href="http://youtube.com/"
                ><i class="fa fa-youtube fa-lg"></i
              ></a>
              <a class="btn btn-social-icon" href="mailto:"
                ><i class="fa fa-envelope-o fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        
      </div>
    </footer>
	
	     <!-- MODALS HERE -->

	<div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body bg-info">
		  
		<form class="col s12 l5 white-text" action="/register" method="POST" autocomplete="new-password">
            <div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label text-white">Full Name</label>
            <div class="col-md-10">
              <input autocomplete="new-password" class="form-control" required placeholder="Name" id="first_name"
				name="name" type="text" class="validate">
              </div>
            </div>
			
            <div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label text-white" for="blood">Blood Group</label>
              <div class="col-md-10">
               <select name="blood" id="blood" class="validate form-control" required>
							<option value="">Select</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="O">O</option>
							<option value="AB">AB</option>
				</select>
              </div>
            </div>
			
            <div class="form-group row">
				<label for="firstname" class="col-md-2 col-form-label text-white" for="rh">RH Factor</label>
              <div class="col-3">
               <label>
				<input class="  form-control" value="+" name="rh" type="radio" required />
			<span class="text-white">Positive</span>
			</label>
              </div>
			  
              <div class="col-3">
                <label>
				<input class=" form-control" value="-" name="rh" type="radio" required />
				<span class="text-white">Negetive</span>
				</label>
              </div>
            </div>
			
            <div class="form-group row">
			<label class="col-md-2 col-form-label text-white">Phone</label>
              <div class="col-md-10">
               <input autocomplete="new-password" class="white-text form-control" required placeholder="Contact Number" id="phone"
				name="phone" type="text" pattern="[789][0-9]{9}" class="validate">
              </div>
            </div>
			
			 <div class="form-group row">
				<label class="col-md-2 col-form-label text-white" for="city">City</label>
              <div class="col-md-10">
               <input type="text" name="city" id="city" class="validate form-control" required placeholder="District ">					
              </div>
            </div>
			
			 <div class="form-group row">
				<label for="address" class="col-md-2 col-form-label text-white">Address</label>
              <div class="col-md-10">
               <textarea autocomplete="new-password" maxlength="80" id="address" placeholder="Enter your Address"
				name="address" class="materialize-textarea white-text validate form-control" required></textarea>
              </div>
            </div>
							
            <div class="form-group row">
              <div class="offset-md-2 col-md-10">				
               <button class="btn  btn-success form-control" type="submit">Register</button>										
              </div>
            </div>
          </form>
			
          </div>
        </div>
      </div>
    </div>
	
     <!-- jQuery first, then Popper.js, then Bootstrap JS. -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 
 	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	<script src="https://use.fontawesome.com/ee1c3da296.js"></script>
	
  </body>
</html>